.landingpartone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .justinsName {
    z-index: 2;
    position: absolute;
    margin-top: 50px;
    font-size: 35px;
    color: white;
    display: flex;
  }
  .firstSetup {
    margin-bottom: 50px;
    width: 100%;
  }
}

.landingparttwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  .rowText {
    display: flex;
    justify-content: center;
    width: 95%;
    padding-top: 15px;
  }
  .row {
    display: flex;
    align-items: center;
    width: 95%;
    margin-top: 50px;
    .imgbox {
      display: flex;
      justify-content: center;
      width: 50%;
      height: 400px;
      .img {
        height: 100%;
      }
    }
  }
}