.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(150, 150, 150);
  height: 30px;
  margin-top: 30px;
  bottom: 0 !important;
}

.footLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-left: 10px;
  font-size: 10px;
  bottom: 0;
  img {
      width: 10px;
      height: 10px;
      margin-bottom: 3px;
      margin-left: 8px;
  }
  a {
      margin-left: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .footleft {
      a:hidden {
          visibility: hidden;
      }
  }
}

.footRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 30%;
  margin-right: 10px;
  a {
      a {
          font-size: 10px;
      }
      .i {
          color: gray;
          text-decoration: none;
          margin-left: 10px;
          cursor: pointer;
      }
      .i:hover {
          color: white;
      }
  }
}